<%= render 'shared/page_title',title: @recipe.name %>
<div class="row">
  <div class="gravatar_picture col-lg-4 pull-right">
    <%= gravatar_for @recipe.chef, size: 200 %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-lg-8">
    <%= link_to 'Edit Recipe',edit_recipe_path(@recipe), class: "btn btn-success pull-right"%>
    <h4><%= @recipe.summary %></h4>
    <div class="show-recipe"> <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %></div>
    <div class="well">
      <p>
        <strong>Steps:</strong>
      </p>
        <%= simple_format(@recipe.description) %>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-lg 2">
    <h5 id="recipes_index_link"><%= link_to 'Return to recipe listings', recipes_path,class:"btn btn-warning btn-small"
    %></h5>
  </div>
</div>
