<header class=" navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%=  link_to 'myRecipes',root_path, class:"btn btn-lg btn-success", id: "logo" %>
    <div class="nav-item">
      <%= link_to 'nav link','',class:"btn btn-lg btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to 'nav link','',class:"btn btn-lg btn-warning"%>
    </div>
    <%if logged_in?%>
        <div class="nav-item">
          <%= link_to 'New Recipe',new_recipe_path,class:"btn btn-lg btn-warning"%>
        </div>
        <ul class="nav-item">
          <li class="dropdown">
            <%= link_to '#',class:"btn btn-lg btn-danger dropdown-toggle", "data-toggle" =>"dropdown" do%>
            <%= current_user.chefname %> <b class="caret"></b>
            <%end%>
            <ul class="dropdown-menu">
              <li><%= link_to "View profile",chef_path(current_user) %></li>
              <li><%= link_to "Edit profile",edit_chef_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out",logout_path %></li>
            </ul>
          </li>
        </ul>
        <%else%>
        <div class="nav-item">
          <%= link_to "Log in",login_path, class:"btn btn-lg btn-danger" %>
        </div>

     <%end%>

  </div>
</header>